
//@theme "/home/norbert/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/norbert/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/norbert/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/norbert/.local/share/rofi/themes/my-custom.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/home/norbert/.local/share/rofi/themes/squared-nord.rasi"

@theme "/home/norbert/.local/share/rofi/themes/squared-nord.rasi"
